a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #EDF2F4;
}

.flex-sites {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.flex-item {
    flex-basis: 15em;
    background: #2B2D42;
    text-align: center;
    margin: 15px;
    transition: .1s ease-in-out;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.flex-item:hover {
    transform: scale(1.1);
    transition: .1s ease-in-out;
}

.flex-item img {
    width: 100%;
}

.flex-item h5 {
    font-weight: 400;
}

.heroku {
    color: #D90429;
}

#warning {
    color: #D90429;
}