.mainContainer {
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  /*justify-items: center;*/
  /*align-items: center;*/
  grid-gap: 3px;
  align-items:stretch;
}

.gridHeader {
  border: 1px solid red;
  background-color: #cfc;
  /*grid-row: 1 / 3;*/
  grid-column: 1 /13;
}

.gridBodyLeft {
  background-color: #fcc;
  border: 1px solid black;
  grid-column: 1 / 10;
  display:flex;
  flex-direction: row;
}

.gridBodyRight {
  background-color: #ccf;
  border: 1px solid black;
  grid-column: 10 / 13;
}

.gridBodyLeft,
.gridBodyRight {
  grid-row: 2/8;
}

.gridFooter {
  background-color: #ccc;
  border: 1px solid black;
  grid-column: 1 / 13;
}
