/**/

/* HTML Body Container */

/**/

.mainContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto:;
  /*justify-items: center;*/
  /*align-items: center;*/
  grid-gap: 3px;
  /*align-items: stretch;*/
}

/**/

/* Header Grid Section */

/**/

.gridHeader {
  background-color: #cfc;
  grid-row: 1 / 2;
  grid-column: 1 /13;
  text-align: center;
}

/**/

/* Body Grid Section */

/**/

.gridBodyLeft {
  background-color: #fcc;
  grid-column: 1 / 13;
}

.gridBodyRight {
  background-color: #ccf;
  grid-column: 1 / 13;
}

/**/

/* Footer Grid Section */

/**/

.gridFooter {
  background-color: #ccc;
  grid-column: 1 / 13;
  text-align: center;
}

/**/

/* Body Flex */

/**/

.bodyLeftFlex {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-around;
}

.bodyRightFlex {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

/**/

/* Left Body Flex CONTENT */

/**/

.lbfItem {
  margin: 2.5% auto;
}

/**/

/* Media Queries */

/**/

@media (min-width: 850px) {
  .gridBodyLeft {
    grid-column: 1 / 10;
  }
  .gridBodyRight {
    grid-column: 10 / 13;
  }
  .gridBodyLeft, .gridBodyRight {
    grid-row-start: 2;
  }
  .bodyRightFlex {
    text-align: left;
  }
}
